PORT=5000
NODE_ENV=development
API_PREFIX=/api/v1
CLIENT_ORIGIN=http://localhost:3000,http://localhost:3001
DATABASE_URL="postgresql://neondb_owner:np.............lmode=require&channel_binding=require"

REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=112...................d7c2ab07fb1473
JWT_REFRESH_SECRET=..............................d7c2ab07fb1473

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_DOMAIN=localhost

OPENAI_API_KEY=AIz.........FuRo
GEMINI_API_KEY=AIz.........uRo

